body{
    background-color: white;
    padding-top: 4em;
    font-family: monospace;
}
h4{
   text-decoration: underline; 
}
#total{
    text-align:right;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: fit-content;
}
.net{
    text-align: center;
}
input[type="reset"],input[type="button"]{
    cursor: pointer;
}
